#box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin : 6% 0 10% 0 ;
}
#outlined-required, #outlined-basic, #outlined {
    border : 1px solid #1d72e7;
    border-radius: 0.25rem;
    }
label {
    background-color : white ;
}
label::before,label::after {
    content: "\00a0";
}